$bg-main: #ff305b;
$bg-secondary: #eee;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 10px auto;
}
.header {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 9)),
    url(../assets/slider-02.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  nav {
    background-color: black;
    padding: 10px;
    position: realative;

    .container {
      h2 {
        color: $bg-main;
        float: left;
      }
      ul {
        float: right;
        li {
          float: left;
          list-style-type: none;
          padding: 0 10px;

          a {
            color: inherit;
            text-decoration: none;
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    h2 {
      font-size: 3rem;
      color: $bg-main;
    }
  }
}

.description {
  padding: 70px 0;
  .container {
    overflow: hidden;

    .border {
      .desc-image {
        float: left;
        width: 30%;
        margin-right: 5px;
        border: 10px solid black;
        position: relative;

        img {
          width: 100%;
          position: relative;
          top: 20px;
          left: 20px;
        }
        .layer {
          background-color: rgba(0, 0, 0, 0.6);
          position: absolute;
          width: 100%;
          height: 100%;
          top: 100%;
          visibility: hidden;

          left: 20px;
          transition: 1s all;
        }
        &:hover .layer {
          visibility: visible;
          top: 20px;
        }
      }
    }
    .info {
      float: right;
      width: 60%;

      h3 {
        font-size: 34px;
        text-transform: uppercase;
        &::before {
          content: "I";
          color: $bg-main;
        }
      }
      .dashed {
        border-bottom: black dashed;
        margin: 20px 0;
      }
      p {
        font-size: 18px;
        line-height: 20px;
        margin: 10px 0;
      }
      .description-details {
        div {
          float: left;
          width: 50%;
        }
      }
      button {
        background-color: $bg-main;
        padding: 10px;
        border-radius: 7px;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.services {
  background-color: $bg-secondary;
  text-align: center;
  padding: 70px 0;
  .container {
    .services-heading {
      font-size: 2rem;
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 10px;

      &::after {
        content: "";
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: $bg-main;
        top: 100%;
        left: 45%;
      }
      &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 3px;
        background-color: $bg-main;
        top: 86%;
        left: 47%;
      }
    }
    .cards {
      .card {
        float: left;
        width: 24%;
        padding: 40px 10px;
        cursor: pointer;
        transition: 0.6s all;
        h3 {
          font-weight: bolder;
          font-size: 22px;
        }
        p {
          line-height: 20px;
        }
        &:hover {
          background-color: white;
        }
      }
    }
  }
}
.portfolio {
  text-align: center;
  padding: 70px 0;
  .container {
    h3 {
      font-size: 2rem;
      text-transform: capitalize;
    }
    ul {
      padding: 10px 0;

      li {
        list-style-type: none;
        display: inline-block;
        margin-left: 10px;

        a {
          text-decoration: none;
          color: black;
          text-transform: uppercase;
        }
      }
    }
    .images {
      .img {
        float: left;
        margin-left: 10px;
        width: 32%;
        position: relative;

        &:hover .overlay {
          opacity: 1;
        }

        img {
          width: 100%;
        }
        .overlay {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: 0.5s opacity;
        }
      }
    }
  }
}

.clear {
  clear: both;
}
.feedback {
  padding: 70px 0;
  h3 {
    font-size: 2rem;
    text-align: center;
  }
  .container {
    .client-feedback {
      background-color: #eee;
      padding: 40px;
      width: 60%;
      margin: 10px auto;
      position: relative;
      h2 {
        text-transform: capitalize;
      }
      .feedback-img {
        float: left;
        width: 25%;
        position: relative;
        z-index: 2;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .feedback-content {
        float: right;
        width: 70%;

        .brder {
          border: 90px solid red;
          border-color: $bg-main transparent transparent $bg-main;
          position: absolute;
          top: 0;
          left: 0px;
        }
      }
    }
  }
}
.blog {
  padding: 70px 0;
  h3 {
    text-align: center;
  }
  .container {
    .blog-items {
     
      .blog-item {
        float: left;
        width: 33%;
        .blog-img {
        

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header .container ul li {
    width: 100%;
    text-align: center;
    margin: 5px;
  }
  .description .container .border .desc-image {
    width: 100%;
  }
  .description .container .border .desc-image .layer {
    visibility: hidden;
  }
  .description .container .info {
    text-align: center;
    width: 100%;
  }

  .services .container .cards .card {
    width: 100%;
  }

  .portfolio .container .images .img {
    width: 100%;
  }

  .feedback .container .client-feedback {
    width: 100%;
  }
  .feedback .container .client-feedback .feedback-img {
    width: 30%;
    margin-left: 30%;
  }

  .feedback .container .client-feedback .feedback-content {
    width: 100%;
  }
}
